.search-genre-search-window {
  width: 1000px;
  margin: 0px 20px 5px 73.3px;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  /* identical to box height */
  color: #000000;
}

#search-genre-tag {
  margin: 0px 30px 0px 0;
}

#tag-search-input {
  outline: none;
  height: 30px;
  width: 800px;

  font-size: 18px;
  border: none;
  letter-spacing: 1px;
  padding-left: 6px;
  padding-top: 3px;

  background: #E9E9E9;
}

.selected-tag {
  width: 800px;
  overflow: hidden;
  height: auto;
  margin: 10px 5px 0 85px;
}

.found-list {
  margin: 10px 5px 0 85px;
  width: 800px;
  overflow: hidden;
  height: auto;
}
