.list-wrapper {
  width: 1000px;
  margin: 0px max(calc(50% - 500px), 0px) 40px max(calc(50% - 500px), 0px);
  display: inline-block;
}

.list-subject {
  text-align: left;
  text-indent: 50px;
}

.more-works-button {
  width: 48px;
  height: 40px;
  border: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;

  background-color: #eee;
  color: black;
  transition: background-color 0.5s ease;
}

.more-works-button:hover {
  cursor: pointer;

  background-color: #ccc;
  transition: background-color 0.5s ease;
}