.mypage { 
    position: absolute; 
    left: 50%;
    transform: translateX(-50%); 
    background-color: #fefefe;
    width: 70rem;
    height: 48rem;
  }

.mypage-button-holder {
  position: absolute; 
  left: 25%;
  transform: translateX(-50%); 
  top: 23rem;
}

#mypage-toggle-transfer {
  position: absolute;
  left:25%;
  top:20rem;
  transform: translateX(-50%);

  font-size: 0.88rem;
  letter-spacing: 1px;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
}

.mypage-knobs, .mypage-layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mypage-button
{
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.mypage-button.mypage-r, .mypage-button.mypage-r .mypage-layer
{
    border-radius: 100px;
}
.mypage-checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.mypage-knobs
{
    z-index: 2;
}

.mypage-layer
{
    width: 100%;
    background-color: #313131;
    transition: 0.3s ease all;
    z-index: 1;
}

#mypage-button-3 .mypage-knobs:before
{
    content: 'YES';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #000000;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#mypage-button-3 .mypage-checkbox:active + .mypage-knobs:before
{
    width: 46px;
    border-radius: 100px;
}

#mypage-button-3 .mypage-checkbox:checked:active + .mypage-knobs:before
{
    margin-left: -26px;
}

#mypage-button-3 .mypage-checkbox:checked + .mypage-knobs:before
{
    content: 'NO';
    left: 42px;
    background-color: #000000;
}

#mypage-button-3 .mypage-checkbox:checked ~ .mypage-layer
{
    background-color: #dbdbdb;
}
  
  #mypage-profile-image-holder {
    position: absolute; 
    left: 25%;
    transform: translateX(-50%); 
    top: 3rem;
    width: 15rem;
    height: 15rem;
    flex-wrap: wrap;
  
    border: 2px solid;
    border-color: black;
    background-color: #fff;
  
    box-shadow: 1px 1px 5px grey;
  }
  
  #mypage-profile-img {
    position: absolute;
    top: 0; 
    left: 0; 
    transform: translate(50, 50); 
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    margin: auto;
  }

  #mypage-userdata-holder {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%); 
  }
  
  #mypage-username {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid #ddd;
  }
  
  #mypage-email {
    font-size: 0.88rem;
    letter-spacing: 1px;
    text-decoration: none;
  }

  #mypage-genre-tags-holder {
    position: absolute; 
    white-space: nowrap;
    left: 50%;
    margin-top: 20rem;
    min-width: 51rem;
    transform: translateX(-50%); 
  }
  
  #mypage-account-settings {
    position: absolute; 
    display: inline-block;
    padding: 0.8em 1.7em;
    margin-top: 6rem;
    border-radius: 0;
    color: black;
    font-size: 0.88rem;
    letter-spacing: 1px;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(to right, rgba(178, 135, 111, 0) 25%, rgba(0, 0, 0, 1) 75%);
    background-position: 1% 50%;
    background-size: 400% 300%;
    border: 1px solid black;
    transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  #mypage-account-settings:hover {
  transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  #mypage-account-settings:hover {
  color: white;
  color: #fff;
  background-position: 99% 50%;
  }

  #mypage-myreviews-holder {
    border-top: 5px solid #eee;
    position: absolute; 
    left: 50%;
    margin-top: 32rem;
    transform: translateX(-50%); 
  }