# CI environment
dist: bionic

jobs:
  include:
    - language: python
      python: "3.7.9"
      install:
        - cd backend/connectoon
        - pip install -t requirements.txt
      script:
        - pylint **/*.py --load-plugins pylint_django
        - coverage run --source='.' manage.py test
        - coverage xml

    - language: node_js
      node_js: 14
      install:
        - cd frontend/connectoon
        - yarn install
      script:
        - ./node_modules/.bin/eslint src
        - yarn test --coverage --watchAll=false