#input-profile-image {
  display: none;
}

#profile-image-holder {
  max-width: 250px;
  min-height: 250px;
  flex-wrap: wrap;

  border: 2px solid;
  border-color: black;
  margin: 10px;
  padding: 10px;
}

#upload-image-label {
  border: 2px solid black;
  padding-left: 5px;
  padding-right: 5px;
}

#register-email {
  margin-top: 10px;
}