.work-detail {
  width: 1000px;
  margin: 10px max(calc(50% - 500px), 0px) 10px max(calc(50% - 500px), 0px);
}

.my-review-region {
  border-top: 1px solid black;
  margin: 10px 0 10px 0;
}

.work-review-region {
  border-top: 1px solid black;
}

#work-reviews-header {
  margin: 10px 10px 10px 20px;
  text-align: left;
  display: inline-block;
}

#work-score-star-icon {
  display: inline-block;
  margin: 14px 5px 13px 0;
  width: 15px;
  height: 15px;
  vertical-align: top;
}

#work-average-score {
  display: inline-block;
  margin: 10px 800px 10px 0px;
}

#detail-modal {
  width: 400px;
  height: 100px;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.detail-modal-button {
  background-color: #eee;
  border-radius: 5px;
  padding: 5px;
  width: 80px;
  height: 30px;
  transition: all 0.4s ease;
  border: none
}

.detail-modal-button:hover {
  cursor: pointer;
}

.detail-modal-cancel {
  margin: 5px 10px 5px 210px;
}

.detail-modal-confirm {
  margin: 5px 10px 5px 10px;
}

.detail-modal-confirm:hover {
  background-color: #e2eeff;
  transition: all 0.4s ease;
}
