.work-detail {
  width: 1000px;
  margin: 10px max(calc(50% - 500px), 0px) 10px max(calc(50% - 500px), 0px);
}

.work-review-region {
  border: 1px solid black;
}

#work-reviews-header {
  margin: 10px 10px 10px 20px;
  text-align: left;
  display: inline-block;
}

#work-score-star-icon {
  display: inline-block;
  margin: 14px 5px 13px 0;
  width: 15px;
  height: 15px;
}

#work-average-score {
  display: inline-block;
  margin: 10px 800px 10px 0px;
}
