.work-thumbnail {
  display: inline-block;
  width: 210px;
  height: 170px;
  margin: 5px; /* fix */
}

.original-work-thumbnail {
  width: 200px;
  height: 160px;
  margin: 5px; /* fix */
}

.work-platform {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
  left: 72px;
  top: -160px;
  z-index: 5;
}

.work-completion {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
  left: 72px;
  top: -155px;
  z-index: 5;
}