.detail-review {
  border: 1px solid black;
  margin: 10px 20px 10px 20px;
}

.review-upper-region {
  margin: 5px 0 0 0;
}

.user-profile-image {
  width: 30px;
  height: 30px;
  display: inline-block;
}

h5 {
  display: inline-block;
  margin: 7px 5px 7px 5px;
  vertical-align: top;
  color: gray;
}

.review-title {
  display: inline-block;
  margin: 5px 120px 5px 10px;
  vertical-align: top;
  width: 500px;
  text-align: left;
  height: 18px;
}

.review-title-input {
  display: inline-block;
  margin: 5px 140px 5px 10px;
  vertical-align: top;
  width: 500px;
  text-align: left;
  height: 18px;
}

.review-score-region {
  display: inline-block;
}

.review-score-star-icon {
  width: 15px;
  height: 15px;
  margin: 7px 5px 7px 5px;
}

.review-score-value {
  color: black;
}

.review-like-button {
  vertical-align: top;
  border: none;
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 7px 5px 7px 5px;
}

.review-like-button:hover {
  cursor: grab;
}

.review-like-heart-icon {
  width: 15px;
  height: 15px;
}

.review-score-label {
  vertical-align: top;
}

.review-score-input {
  margin: 5px 5px 5px 5px;
  width: 100px;
  height: 18px;
}

.review-content-region {
  display: inline-block;
}

.review-content {
  border: 1px solid gray;
  padding: 2px 2px 2px 2px;
  width: 700px;
  font-size: 16px;
  margin: 10px 20px 10px 20px;
  text-align: left;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
  height: 90px;
}

.review-content-input {
  padding: 2px 2px 2px 2px;
  width: 700px;
  font-size: 16px;
  margin: 10px 20px 10px 20px;
  line-height: 18px;
  height: 90px;
}

.review-button-region {
  display: inline-block;
  vertical-align: top;
}

.review-edit-delete-region {
  width: 120px;
  height: 46px;
  margin: 10px 0 0 0;
}

.review-save-back-region {
  width: 120px;
  height: 102px;
  margin: 10px 0 0 0;
}

.edit-button {
  padding: 0;
  width: 52px;
  margin: 2px 2px 2px 2px;
}

.delete-button {
  padding: 0;
  width: 52px;
  margin: 2px 2px 2px 2px;
}

.review-more-region {
  width: 42px;
  height: 21px;
  margin: 25px 0 10px 0;
}

.review-more-button {
  border: none;
  background-color: white;
  text-decoration: none;
  padding: 0;
}

.review-more-button:hover {
  cursor: grab;
}

.save-button {
  padding: 0;
  width: 52px;
  margin: 2px 2px 2px 2px;
}

.back-button {
  padding: 0;
  width: 52px;
  margin: 2px 2px 2px 2px;
}
