.nav-bar {
  width: 100%;
  height: 70px;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #fdfdfd;
  border-bottom: 1px solid black;
  z-index: 10;
  overflow-x: scroll;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

#connectoon-logo {
  position: absolute;
  left: max(calc(10px + (100% - 760px) * 0.25), 20px);
  top: 15px;
  font-size: 32px;
}

#recommendation-tab {
  position: absolute;
  left: max(calc(158px + (100% - 760px) * 0.40), 200px);
  top: 30px;
  font-size: 18px;
}

#board-tab {
  position: absolute;
  left: max(calc(312.2px + (100% - 760px) * 0.46), 355px);
  top: 30px;
  font-size: 18px;
}

#search-tab {
  position: absolute;
  left: max(calc(371.4px + (100% - 760px) * 0.52), 415px);
  top: 30px;
  font-size: 18px;
}

#search-input {
  position: absolute;
  left: max(calc(437px + (100% - 760px) * 0.60), 485px);
  top: 25px;
  width: 160px;
  height: 20px;
  z-index: 100;
  background-color: transparent;
  border: solid 0.5px #0a0a0a;
}

#search-glass-icon {
  width: 15px;
  height: 15px;
  z-index: 20;
}

#search-glass-wrapper {
  position: absolute;
  left: max(calc(607px + (100% - 760px) * 0.60), 655px);
  top: 30px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  z-index: 25;
  border: none;
}

#search-glass-wrapper:hover{
  cursor: grab;
}

.nav-bar-buttons {
  width: 150px;
  height: 40px;
  background-color: #fefefe;
  border: 1px solid black;
  position: absolute;
  left: max(calc(600px + (100% - 760px) * 0.75), 680px);
}

#login-button, #username-button {
  top: 15px;
}

#mypage-button {
  top: 54px;
}

#myreviews-button {
  top: 93px;
}

#logout-button {
  top: 132px;
}

#navbar-right-margin {
  position: absolute;
  left: max(100%, 850px);
  top: 30px;
  width: 1px;
  height: 10px;
}