.board {
	width: 1000px;
	margin: 0px max(calc(50% - 500px), 0px) 40px max(calc(50% - 500px), 0px);
}

.board-page-title {
	text-align: left;
	text-indent: 50px;
}

.board-table {
	width: 1000px;
	margin: 0;
	border-spacing: 0 10px;
}

.board-header-row {
	justify-content: center;
}

.board-header.work {
	flex:1;
}

.board-header.review {
	flex:5;
}
