.work-object {
  display: inline-block;
  width: 220px;
  margin: 5px 8px 5px 8px;
}

.object-description {
  width: 200px;
  margin: 0 10px 0 10px;
}

.object-description > .description {
  color: #777;
  display: inline-block;
  margin: 5px 0 0 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.work-title {
  width: 200px;
}

.work-artist {
  width: 200px;
}

.work-score-star-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 5px 5px 0 0;
}

.work-score {
  width: 140px;
  
}

.work-created-year {
  width: 40px;
}