django==3.2.6
coverage==5.3
pylint==2.6.0
pylint-django==2.3.0
pillow==8.4.0
opt-einsum>=2.3.2
keras<2.8,>=2.7.0rc0
six>=1.12.0
google-pasta>=0.1.1
astunparse>=1.6.0
wrapt>=1.11.0
keras-preprocessing>=1.1.1
grpcio<2.0,>=1.24.3
tensorflow-estimator<2.8,~=2.7.0rc0
wheel<1.0,>=0.32.0
tensorboard~=2.6
tensorflow-io-gcs-filesystem>=0.21.0
termcolor>=1.1.0
gast<0.5.0,>=0.2.1
h5py>=2.9.0
libclang>=9.0.1
flatbuffers<3.0,>=1.12
absl-py>=0.4.0
typing-extensions>=3.6.6
protobuf>=3.9.2
markdown>=2.6.8
google-auth-oauthlib<0.5,>=0.4.1
setuptools>=41.0.0
google-auth<3,>=1.6.3
tensorboard-data-server<0.7.0,>=0.6.0
werkzeug>=0.11.15
tensorboard-plugin-wit>=1.6.0
requests<3,>=2.21.0
cachetools<5.0,>=2.0.0
rsa<5,>=3.1.4
pyasn1-modules>=0.2.1
requests-oauthlib>=0.7.0
importlib-metadata>=4.4
idna<3,>=2.5
certifi>=2017.4.17
chardet<5,>=3.0.2
urllib3<1.27,>=1.21.1
zipp>=0.5
pyasn1<0.5.0,>=0.4.6
oauthlib>=3.0.0
tensorflow
tensorflow_hub
python-dateutil>=2.7
kiwisolver>=1.0.1
pyparsing>=2.2.1
numpy>=1.16
cycler>=0.10
six
matplotlib