.work-info {
  width: 1000px;
  margin: 10px max(calc(50% - 500px), 0px) 10px max(calc(50% - 500px), 0px);
}

.work-information-region {
  display: inline-block;
  width: 760px; /* fix */
  margin: 10px;
}

.work-title {
  text-align: left;
  margin: 10px;
}

.work-artist {
  width: 640px; /* fix */
  text-align: left;
  margin: 10px;
  display: inline-block;
  color: #444;
}

.work-created-year {
  width: 80px;
  text-align: left;
  margin: 10px;
  display: inline-block;
  color: #444;
}

.work-description {
  padding: 2px 2px 2px 2px;
  width: 740px;
  font-size: 16px;
  margin: 10px;
  text-align: left;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
  height: 72px;
  color: gray;
}

.work-link {
  display: block;
  margin: 10px;

  text-decoration: none;
  background-color: white;
  border: 1px solid black; 
  width: 100px;
  text-align: center;
  color: black;
  padding: 5px;
  border-radius: 5px;
}

.work-link:hover {
  padding: 4px;
  border: 2px solid black;
  font-weight: 600;
}

.work-info-tags {
  margin: 10px;
  text-align: left;
}
